<!-- 
filename: base.html
author: Angelina Li
date: 3/24/2018
description: base template for flask app
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Meet Me">
  <meta name="author" content="Angelina Li">
  <title>{{ title }}</title>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Meet Me</a>
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav mr-auto nav-fill">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
        </ul>

        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
              Search
            </button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="display-4">{{ title }}</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="list-group">
    {% for m in messages %}
      <li class="list-group-item list-group-item-info">{{ m }}</li>
    {% endfor %}
    </ul>
    <br>
    {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}
  </div>

  <footer class="page-footer font-small blue pt-4 mt-4">
    <div class="footer-copyright py-3 text-center">
      Copyright Angelina Li 2018. Source: <a href="https://github.com/angelinahli/meet-me2/">Github</a>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% block js %}{% endblock %}
</body>
</html>