<!-- 
filename: base.html
author: Angelina Li
date: 3/24/2018
description: base template for flask app
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Meet Me">
  <meta name="author" content="Angelina Li">
  <title>{{ title }}</title>

  <!-- bootstrap css -->

  <meta charset="utf-8">
  <meta name="description" content="Meet Me">
  <meta name="author" content="Angelina Li">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- custom js -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Meet Me</a>
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav mr-auto nav-fill">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
        </ul>

        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
              Search
            </button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container text-center">
    <h1 class="display-4">{{ title }}</h1>
    <br>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="list-group">
    {% for m in messages %}
      <li class="list-group-item list-group-item-info">{{ m }}</li>
    {% endfor %}
    </ul>
    <br>
    {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}
  </div>

  <footer class="footer">
    <div class="container text-muted text-center">
      Copyright © Angelina Li 2018. <a href="https://github.com/angelinahli/meet-me2/">Source code</a>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% block js %}{% endblock %}
</body>
</html>