<!-- 
filename: base.html
author: Angelina Li
date: 3/24/2018
description: base template for flask app
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Meet Me">
  <meta name="author" content="Angelina Li">
  <title>Meet Me | {{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- custom fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cantarell|Oxygen|Roboto|Ubuntu" rel="stylesheet">

  <!-- custom css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  {% block css %}{% endblock %}
</head>

<body>  
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">Meet Me</a>
    
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#siteNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="siteNavbar">

      <ul class="nav navbar-nav mr-auto">
        <form class="w-100", action="{{ url_for('search') }}">
          <div class="input-group">
            <input type="text" class="form-control border border-right-0" placeholder="Search users" name="search" id="searchBar">
            <span class="input-group-append">
              <button class="btn btn-outline-secondary border border-left-0" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </ul>

      <ul class="nav navbar-nav pull-right">

        {% if current_user.is_anonymous %}
        <!-- ask user to log in -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <form class="form-inline ml-2">
          <a class="btn btn-outline-success" href="{{ url_for('signup') }}">Sign Up</a>
        </form>
        
        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('new_event') }}"><i class="fas fa-plus"></i> New Event</a>
        </li>

        <!-- show user panel -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" id="accountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ current_user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountMenu">
            <h5 class="dropdown-header">My Account</h5>
            <a class="dropdown-item" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
            
            <!-- session management -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
          </div>
        </li>
        {% endif %}
      </ul>

    </div>
  </nav>

  <div class="container text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="list-group">
    {% for c, m in messages %}
      {% if c == "error" %}
      <!-- no corresponding bootstrap color for 'error' -->
      <li class="list-group-item list-group-item-danger">{{m}}</li>
      {% elif c %}
      <li class="list-group-item list-group-item-{{c}}">{{m}}</li>
      {% else %}
      <li class="list-group-item list-group-item-info">{{m}}</li>
      {% endif %}
    {% endfor %}
    </ul>
    <br>
    {% endif %}
    {% endwith %}

    {% if not no_title %}
    <h1 class="display-4">{{ title }}</h1>
    {% endif %}
    <br>
    {% block content %}{% endblock %}
  </div>

  <footer class="footer">
    <div class="container text-muted text-center">
      Copyright © Angelina Li 2018. <a href="https://github.com/angelinahli/meet-me2/">Source code</a>
    </div>
  </footer>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  {% block js %}{% endblock %}
</body>
</html>