{% extends "base.html" %}

{% block content %}
<div class="card mx-auto bg-light" style="width: 80%;">
  <div class="card-body">
    <form method="POST" action="" id="login">
      {{ form.hidden_tag() }}

      <!-- username -->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="username"><i class="fas fa-user"></i></span>
        </div>
        {{ form.username(id="username", class_="form-control", aria_label="Username", aria_describedby=username, placeholder="username") }}
      </div>
      <div class="form-group">
        {% for m in form.username.errors %}
          <small class="text-error form-text text-muted">{{ m }}</small>
        {% endfor %}
      </div>

      <!-- password -->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
        </div>
        {{ form.password(id="password", class_="form-control", aria_label="Password", aria_describedby=password, placeholder="password") }}
      </div>
      <div class="form-group">
        {% for m in form.password.errors %}
          <small class="text-error form-text text-muted">{{ m }}</small>
        {% endfor %}
      </div>

      <div class="form-check form-check-inline">
        <h6>{{ form.remember_me(class_="form-check-input", type="checkbox", id="rememberMe") }}</h6>
        <label class="form-check-label" for="rememberMe">{{ form.remember_me.label }}</label>
      </div>
      
      <p>{{ form.submit(class_="btn btn-success") }}</p>
    </form>
    <hr>
    <p><a href="{{ url_for('signup') }}">Create an account</a></p>
  </div>
</div>
{% endblock %}