{% extends "base.html" %}

{% block content %}
<div class="card mx-auto" style="width: 90%;">
  <div class="card-body">
    <form method="POST" action="" id="login">
      {{ form.hidden_tag() }}

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border border-right-0">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
        {{ form.email(class_="form-control border border-left-0", placeholder=form.email.label.text) }}
      </div>
      <div class="form-group">
        {% for m in form.email.errors %}
          <p class="text-error form-text">{{ m }}</p>
        {% endfor %}
      </div>

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border border-right-0">
            <i class="fas fa-key"></i>
          </span>
        </div>
        {{ form.password(class_="form-control border border-left-0",  placeholder=form.password.label.text) }}
      </div>
      <div class="form-group">
        {% for m in form.password.errors %}
          <p class="text-error form-text">{{ m }}</p>
        {% endfor %}
      </div>

      {{ form.remember_me(class_="form-check-input", type="checkbox", id="rememberMe") }} {{form.remember_me.label}}
      
      <p>{{ form.submit(class_="btn btn-primary btn-lg") }}</p>
    </form>
    <hr>
    <p><a href="{{ url_for('signup') }}" class="btn btn-link btn-lg">Create an account</a></p>
  </div>
</div>
{% endblock %}