{% extends "base.html" %}

{% block content %}
<div class="card mx-auto" style="width: 90%;">
  <div class="card-body">
    <form method="POST" action="">
      {{ form.hidden_tag() }}

      <div class="form-group">
        <p>{{ form.event_name(id="event_name", class_="form-control text-center", placeholder=form.event_name.label.text) }}</p>
        {% for m in form.event_name.errors %}
          <p class="text-error form-text">{{ m }}</p>
        {% endfor %}
      </div>

      <div class="form-row">

        <div class="col">
          <div class="form-group">
            <div class="input-group date" id="startdate" data-target-input="nearest">
              {{ form.start_date(class_="form-control border border-right-0 datetimepicker-input text-center", data_target="#startdate", placeholder=form.start_date.label.text) }}
              <div class="input-group-append" data-target="#startdate" data-toggle="datetimepicker">
                <div class="input-group-text bg-white border border-left-0">
                  <i class="fa fa-calendar-alt"></i>
                </div>
              </div>
            </div>
            {% for m in form.start_date.errors %}
              <p class="text-error form-text">{{ m }}</p>
            {% endfor %}
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <div class="input-group date" id="enddate" data-target-input="nearest">
              {{ form.end_date(class_="form-control border border-right-0 datetimepicker-input text-center", data_target="#enddate", placeholder=form.end_date.label.text) }}
              <div class="input-group-append" data-target="#enddate" data-toggle="datetimepicker">
                <div class="input-group-text bg-white border border-left-0">
                  <i class="fa fa-calendar-alt"></i>
                </div>
              </div>
            </div>
            {% for m in form.end_date.errors %}
              <p class="text-error form-text">{{ m }}</p>
            {% endfor %}
          </div>
        </div>

      </div>

      <div class="form-row">

        <div class="col">
          <div class="form-group">
            <div class="input-group date" id="starttime" data-target-input="nearest">
              {{ form.start_time(class_="form-control border border-right-0 datetimepicker-input text-center", data_target="#starttime", placeholder=form.start_time.label.text) }}
              <div class="input-group-append" data-target="#starttime" data-toggle="datetimepicker">
                <div class="input-group-text bg-white border border-left-0">
                  <i class="far fa-clock"></i>
                </div>
              </div>
            </div>
            {% for m in form.start_time.errors %}
              <p class="text-error form-text">{{ m }}</p>
            {% endfor %}
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <div class="input-group date" id="endtime" data-target-input="nearest">
              {{ form.end_time(class_="form-control border border-right-0 datetimepicker-input text-center", data_target="#endtime", placeholder=form.end_time.label.text) }}
              <div class="input-group-append" data-target="#endtime" data-toggle="datetimepicker">
                <div class="input-group-text bg-white border border-left-0">
                  <i class="far fa-clock"></i>
                </div>
              </div>
            </div>
            {% for m in form.end_time.errors %}
              <p class="text-error form-text">{{ m }}</p>
            {% endfor %}
          </div>
        </div>

      </div>

      <div class="form-group">
        <p>{{ form.minutes(class_="form-control text-center", placeholder=form.minutes.label.text) }}</p>
        {% for m in form.minutes.errors %}
          <p class="text-error form-text">{{ m }}</p>
        {% endfor %}
      </div>

      <!-- usernames -->
      <div class="form-group">
        <p>{{ form.usernames(class_="form-control text-center", placeholder=form.usernames.label.text) }}</p>
        {% for m in form.usernames.errors %}
          <p class="text-error form-text">{{ m }}</p>
        {% endfor %}
      </div>

      <p>{{ form.submit(class_="btn btn-primary") }}</p>
    </form>
  </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- user written scripts -->
<script src="{{ url_for('static', filename='js/newevent.js') }}"></script>
{% endblock %}