{% extends "base.html" %}

{% block content %}
<div class="card mx-auto" style="width: 80%;">
  <div class="card-body">
    <form method="POST" action="" id="sign-up">
      {{ form.hidden_tag() }}
      <p class="lead">Change any of these rows to update your account</p>

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border border-right-0">
            <i class="fas fa-user"></i>
          </span>
        </div>
        {{ form.name(class_="form-control border border-left-0", placeholder=form.name.label.text, value=current_user.full_name) }}
      </div>
      <div class="form-group">
        {% for m in form.name.errors %}
          <p class="text-error form-text">{{ m }}</p>
        {% endfor %}
      </div>

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border border-right-0">
            <i class="far fa-address-card"></i>
          </span>
        </div>
        {{ form.username(class_="form-control border border-left-0", placeholder=form.username.label.text, value=current_user.username) }}
      </div>
      <div class="form-group">
        {% for m in form.username.errors %}
          <p class="text-error form-text">{{ m }}</p>
        {% endfor %}
      </div>

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border border-right-0">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
        {{ form.email(class_="form-control border border-left-0", placeholder=form.email.label.text, value=current_user.email) }}
      </div>
      <div class="form-group">
        {% for m in form.email.errors %}
          <p class="text-error form-text">{{ m }}</p>
        {% endfor %}
      </div>

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border border-right-0">
            <i class="fas fa-key"></i>
          </span>
        </div>
        {{ form.password(class_="form-control border border-left-0", placeholder=form.password.label.text) }}
      </div>
      <div class="form-group">
        {% for m in form.password.errors %}
          <p class="text-error form-text">{{ m }}</p>
        {% endfor %}
      </div>

      <p><a href="#updatePassword" data-toggle="collapse" aria-expanded="false">Change Password</a></p>

      <div id="updatePassword" class="collapse">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white border border-right-0">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          {{ form.new_password(class_="form-control border border-left-0", placeholder=form.new_password.label.text) }}
        </div>
        <div class="form-group">
          {% for m in form.new_password.errors %}
            <p class="text-error form-text">{{ m }}</p>
          {% endfor %}
        </div>

        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white border border-right-0">
              <i class="fas fa-check-circle"></i>
            </span>
          </div>
          {{ form.confirm(class_="form-control border border-left-0", placeholder=form.confirm.label.text) }}
        </div>
        <div class="form-group">
          {% for m in form.confirm.errors %}
            <p class="text-error form-text">{{ m }}</p>
          {% endfor %}
        </div>
      </div>

      <p><a href="#dangerSettings" data-toggle="collapse" aria-expanded="false" class="text-danger">Danger Zone</a></p>

      <div id="dangerSettings" class="collapse">
        <p>Click on the link below to delete your account. This action is irreversible, and will delete all of your data!<p>
        <p>{{ form.delete(class_="btn btn-danger") }}</p>
      </div>

      <hr>

      <p>{{ form.submit(class_="btn btn-primary btn-lg") }}</p>
    </form>
  </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script>
$("#delete").click( function() {
  return confirm("Are you sure?\nThis action cannot be undone!");
})
// $("#delete").on("click", function () {
//   return $.confirm({
//     title: "Are you sure?",
//     content: "This action is permanent and will delete all data associated with your account!",
//     buttons: {
//       ok: {
//         btnClass: "btn-danger"
//       },
//       cancel: {
//         btnClass: "btn-primary"
//       }
//     }
//   });
// });
</script>
{% endblock %}