{% extends "base.html" %}

{% block content %}
<div class="card mx-auto" style="width: 80%;">
  <div class="card-body">
    <form method="POST" action="" id="sign-up">
      {{ form.hidden_tag() }}
      <p class="lead">Change any of these rows to update your account</p>

      <div class="form-row">
        <div class="col-sm-3 col-md-3 col-lg-2 text-xs-center text-sm-right">
          <label for="#first_name" class="col-form-label">{{ form.first_name.label }}</label>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-10">
          <p>{{ form.first_name(id="first_name", class_="form-control", value=current_user.first_name) }}</p>
        </div>
        <div class="col">
          {% for m in form.first_name.errors %}
            <p class="text-error form-text">{{ m }}</p>
          {% endfor %}
        </div>
      </div>

      <div class="form-row">
        <div class="col-sm-3 col-md-3 col-lg-2 text-xs-center text-sm-right">
          <label for="#last_name" class="col-form-label">{{ form.last_name.label }}</label>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-10">
          <p>{{ form.last_name(id="last_name", class_="form-control", value=current_user.last_name) }}</p>
        </div>
        <div class="col">
          {% for m in form.last_name.errors %}
            <p class="text-error form-text">{{ m }}</p>
          {% endfor %}
        </div>
      </div>

      <div class="form-row">
        <div class="col-sm-3 col-md-3 col-lg-2 text-xs-center text-sm-right">
          <label for="#username" class="col-form-label">{{ form.username.label }}</label>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-10">
          <p>{{ form.username(id="username", class_="form-control", value=current_user.username) }}</p>
        </div>
        <div class="col">
          {% for m in form.username.errors %}
            <p class="text-error form-text">{{ m }}</p>
          {% endfor %}
        </div>
      </div>
      
      
      <div class="form-row">
        <div class="col-sm-3 col-md-3 col-lg-2 text-xs-center text-sm-right">
          <label for="#email" class="col-form-label">{{ form.email.label }}</label>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-10">
          <p>{{ form.email(id="email", class_="form-control", value=current_user.email) }}</p>
        </div>
        <div class="col">
          {% for m in form.email.errors %}
            <p class="text-error form-text">{{ m }}</p>
          {% endfor %}
        </div>
      </div>

      <div class="text-xs-center text-sm-right">
        <a href="#updatePassword" class="btn btn-link" data-toggle="collapse" aria-expanded="false">Change Password</a>
      </div>

      <div id="updatePassword" class="collapse">
        <div class="form-row">
          <div class="col-sm-3 col-md-3 col-lg-2 text-xs-center text-sm-right">
            <label for="#new_password" class="col-form-label">{{ form.new_password.label }}</label>
          </div>
          <div class="col-sm-9 col-md-9 col-lg-10">
            <p>{{ form.new_password(id="new_password", class_="form-control", placeholder="Enter your new password here") }}</p>
            <small class="form-text text-muted">{{ form.pass_help_text }}</small>
          </div>
          <div class="col">
            {% for m in form.new_password.errors %}
              <p class="text-error form-text">{{ m }}</p>
            {% endfor %}
          </div>
        </div>

        <br>

        <div class="form-row">
          <div class="col-sm-3 col-md-3 col-lg-2 text-xs-center text-sm-right">
            <label for="#confirm" class="col-form-label">{{ form.confirm.label }}</label>
          </div>
          <div class="col-sm-9 col-md-9 col-lg-10">
            <p>{{ form.confirm(id="confirm", class_="form-control", placeholder="Please re-enter your new password") }}</p>
          </div>
          <div class="col">
            {% for m in form.confirm.errors %}
              <p class="text-error form-text">{{ m }}</p>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-sm-3 col-md-3 col-lg-2 text-xs-center text-sm-right">
          <label for="#password" class="col-form-label">{{ form.password.label }}</label>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-10">
          <p>{{ form.password(id="password", class_="form-control", placeholder="Please enter your current password to continue") }}</p>
        </div>
        <div class="col">
          {% for m in form.password.errors %}
            <p class="text-error form-text">{{ m }}</p>
          {% endfor %}
        </div>
      </div>

      <a href="#dangerSettings" class="btn btn-danger" data-toggle="collapse" aria-expanded="false">Danger Zone</a>

      <div id="dangerSettings" class="collapse">
        <p><br>Click on the link below to delete your account. Remember, this action is irreversible!<br>
        {{ form.delete(class_="btn btn-link") }}</p>
      </div>

      <hr>

      <p>{{ form.submit(class_="btn btn-primary") }}</p>
    </form>
  </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script>
$("#delete").on("click", function () {
  return $.confirm({
    title: "Are you sure?",
    content: "This action is permanent and will delete all data associated with your account!",
    buttons: {
      ok: {
        btnClass: "btn-danger"
      },
      cancel: {
        btnClass: "btn-primary"
      }
    }
  });
});
</script>
{% endblock %}